<!DOCTYPE html>
<html>
  <head>
    <%- include("./shared/header.ejs") %>
  </head>
  <body>
    <h3>1. Metamask API</h3>
    <button id="btn-connect" class="btn btn-primary">connect</button>
    <p class="info-text alert alert-secondary">
      account info: <span id="account-info"></span>
    </p>

    <h3>2. Opensea API</h3>
    <button id="btn-fetch" class="btn btn-primary">fetch</button>
  </body>
  <script src="/metamask-onboarding.bundle.js"></script>
  <script type="text/javascript">
    window.user = {
      address: null,
    };

    const initialize = () => {
      const btnConnect = document.getElementById("btn-connect");
      const spanAccountInfo = document.getElementById("account-info");
      const btnFetch = document.getElementById("btn-fetch");

      const isMetaMaskInstalled = () => {
        const { ethereum } = window;
        return Boolean(ethereum && ethereum.isMetaMask);
      };

      const host = window.location.host;
      const onboarding = new MetaMaskOnboarding({ host });

      const onClickInstall = () => {
        btnConnect.innerText = "Onboarding in progress";
        btnConnect.disabled = true;
        onboarding.startOnboarding();
      };

      const onClickConnectAndGetAddress = async () => {
        btnConnect.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`;
        btnConnect.disabled = true;

        try {
          ethereum
            .request({ method: "eth_requestAccounts" })
            .then(() => {
              getAddress();

              btnConnect.innerText = "Connected";
            })
            .catch((err) => {
              if (err.code === 4001) {
                console.log("Please connect to MetaMask.");
              } else {
                console.error(err);
              }

              btnConnect.innerText = "Connect";
              btnConnect.disabled = false;
            });
        } catch (error) {
          console.error(error);
        }
      };

      const metaMaskClientCheck = () => {
        if (!isMetaMaskInstalled()) {
          btnConnect.innerText = "Click here to install MetaMask!";
          btnConnect.onclick = onClickInstall;
          btnConnect.disabled = false;
        } else {
          btnConnect.innerText = "Connect";
          btnConnect.onclick = onClickConnectAndGetAddress;
          btnConnect.disabled = false;
        }
      };

      const getAddress = async () => {
        const accounts = await ethereum.request({ method: "eth_accounts" });

        window.user.address = accounts[0] || null;

        if (window.user.address) {
          spanAccountInfo.innerText = window.user.address;
        }
      };

      btnFetch.addEventListener("click", async () => {
        const api = module.require("api");
        const sdk = api("@opensea/v1.0#7dtmkl3ojw4vb");

        sdk["retrieving-assets-rinkeby"]({
          owner: window.user.address,
          order_direction: "desc",
          offset: "0",
          limit: "20",
          include_orders: "false",
        })
          .then((res) => console.log(res))
          .catch((err) => console.error(err));
      });

      metaMaskClientCheck();
    };

    window.addEventListener("DOMContentLoaded", initialize);
  </script>
</html>
