<!DOCTYPE html>
<html>
  <head>
    <%- include("./shared/header.ejs") %>
  </head>
  <body class="p-5">
    <h3>1. Metamask API</h3>
    <button id="btn-connect" class="btn btn-primary">Connect</button>
    <h5>account info</h5>
    <p class="info-text alert alert-secondary">
      Address: <span id="account-info"></span>
    </p>

    <h3 class="mt-5">2. Opensea API</h3>
    <button id="btn-fetch" class="btn btn-primary">Fetch</button>
    <h5>asset info</h5>
    <div class="row mx-0">
      <div class="accordion w-100" id="divAccordion">
        <div class="card">
          <div class="card-header mb-0" id="imageHeader">
            <h2 class="mb-0">
              <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#imagePreview" aria-expanded="false" aria-controls="imagePreview">
                Image
              </button>
            </h2>
          </div>
          <div id="imagePreview" class="collapse" aria-labelledby="imageHeader" data-parent="#divAccordion">
            <div class="card-body">
              <div id="preview">
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header mb-0" id="jsonHeader">
            <h2 class="mb-0">
              <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#jsonDetail" aria-expanded="false" aria-controls="jsonDetail">
                JSON
              </button>
            </h2>
          </div>
          <div id="jsonDetail" class="collapse" aria-labelledby="jsonHeader" data-parent="#divAccordion">
            <div class="card-body">
              <pre class=""><code id="asset-info"></code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-5">3. Moralis API</h3>
    <h5>Save User Data</h5>
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="address" value="" readonly />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" value="jaejoon.han@crevisse.com" />
    </div>
    <button id="btn-save-user-info" class="btn btn-primary">Save</button>

    <h5 class="mt-3">Transfer Asset</h5>
    <div class="form-group">
      <label for="contractAddress">Asset</label>
      <input type="text" class="form-control" id="contractAddress" value="<%- process.env.DEFAULT_ASSET_CONTRACT %>" />
    </div>
    <div class="form-group">
      <label for="receiver">receiver</label>
      <input type="text" class="form-control" id="receiver" value="<%- process.env.DEFAULT_RECEIVER_ADDRESS %>" />
    </div>
    <button id="btn-transfer" class="btn btn-primary">Transfer</button>
  </body>
  <script src="/metamask-onboarding.bundle.js"></script>
  <script type="text/javascript">
    window.user = {
      address: null,
    };

    const initialize = () => {
      const btnConnect = document.getElementById("btn-connect");
      const spanAccountInfo = document.getElementById("account-info");
      const btnFetch = document.getElementById("btn-fetch");
      const spanAssetInfo = document.getElementById("asset-info");
      const btnSaveUserInfo = document.getElementById("btn-save-user-info");
      const btnTransfer = document.getElementById("btn-transfer");

      const isMetaMaskInstalled = () => {
        const { ethereum } = window;
        return Boolean(ethereum && ethereum.isMetaMask);
      };

      const host = window.location.host;
      const onboarding = new MetaMaskOnboarding({ host });

      const onClickInstall = () => {
        btnConnect.innerText = "Onboarding in progress";
        btnConnect.disabled = true;
        onboarding.startOnboarding();
      };

      const onClickConnectAndGetAddress = async () => {
        btnConnect.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`;
        btnConnect.disabled = true;

        try {
          ethereum
            .request({ method: "eth_requestAccounts" })
            .then(() => {
              getAddress();

              btnConnect.innerText = "Connected";
            })
            .catch((err) => {
              if (err.code === 4001) {
                console.log("Please connect to MetaMask.");
              } else {
                console.error(err);
              }

              btnConnect.innerText = "Connect";
              btnConnect.disabled = false;
            });
        } catch (e) {
          alert(e);
        }
      };

      const metaMaskClientCheck = () => {
        if (!isMetaMaskInstalled()) {
          btnConnect.innerText = "Click here to install MetaMask!";
          btnConnect.onclick = onClickInstall;
          btnConnect.disabled = false;
        } else {
          btnConnect.innerText = "Connect";
          btnConnect.onclick = onClickConnectAndGetAddress;
          btnConnect.disabled = false;
        }
      };

      const getAddress = async () => {
        const accounts = await ethereum.request({ method: "eth_accounts" });

        window.user.address = accounts[0] || null;

        if (window.user.address) {
          spanAccountInfo.innerText = window.user.address;
          address.value = window.user.address;
        }
      };

      btnFetch.addEventListener("click", async () => {
        if (!window.user.address) {
          alert("Connect First!");
          return;
        }

        fetch(`./api/fetchAssets/${window.user.address}`)
          .then((response) => {
            if (!response.ok) {
              throw Error(response.statusText);
            } else {
              return response.json();
            }
          })
          .then((data) => {
            spanAssetInfo.innerText = JSON.stringify(data, null, 4);

            let preview = document.getElementById("preview");
            let imagePreview = document.getElementById("imagePreview");

            preview.innerHTML = `<image src=${data.assets[0].image_url} />`;
            imagePreview.classList.add("show");
          })
          .catch((e) => {
            alert(e);
          });
      });

      btnSaveUserInfo.addEventListener("click", async () => {
        if (!window.user.address) {
          alert("Connect First!");
          return;
        }

        let email = document.getElementById("email").value;

        fetch("/api/saveUserData", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            address: window.user.address,
            email: email,
          })
        })
          .then(function (response) {
            if (response.ok) {
              console.log("POST success.");
              return;
            }
            throw new Error("POST failed.");
          })
          .catch(function (error) {
            console.log(error);
          });
      });

      btnTransfer.addEventListener("click", async () => {
        let receiver = document.getElementById("receiver").value;
        let contractAddress = document.getElementById("contractAddress").value;

        if (!window.user.address) {
          alert("Connect First!");
          return;
        }

        if (!receiver) {
          alert("input receiver!");
          return;
        }

        if (!contractAddress) {
          alert("input asset address!");
          return;
        }

        fetch("/api/transferAsset", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            receiver: receiver,
            contractAddress: contractAddress,
          })
        })
          .then(function (response) {
            if (response.ok) {
              console.log("POST success.");
              return;
            }
            throw new Error("POST failed.");
          })
          .catch(function (error) {
            console.log(error);
          });
      });

      metaMaskClientCheck();
    };

    window.addEventListener("DOMContentLoaded", initialize);
  </script>
</html>
